
<div class="row ms-4 ">
<div class="card card-parent  ms-2 mb-2" style="width: 18rem;"   *ngFor="let product of allProducts">
  <img src="{{product.image}}" class="card-img-top" alt="Chicago Skyscrapers"/>
  <hr>
  <div class="card-body">
    <h5 class="card-title">{{product.title | slice:0:11 }}</h5>
    <p class="card-text">{{product.description  | slice:0:80}}...<a  routerLink="/details" >readmore</a></p>
  </div>
  <ul class="list-group list-group-light list-group-small">
    <li class="list-group-item px-4">Category : {{product.category}}</li>
    <li class="list-group-item px-4">price : {{product.price }} LE</li>
  </ul>
  <div class="card-body d-flex justify-content-around">
    <button type="button" class="btn btn-primary">Add to Cart</button>

    <button type="button" class="btn btn-info">Info</button>

  </div>
</div>
</div>
<app-details></app-details>
