<ng-container>
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td></td>
                            <td></td>
                            <td><img style="width: 120px;" src="" alt=""></td>
                            <td style="width: 25%;"></td>
                            <th style="width: 12%;"></th>
                            <td style="width: 12%;"></td>
                            <td style="width: 12%;"></td>
                            <td>
                                <button  class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button class="btn btn-danger">Empty Cart</button></td>
                            <td><button class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td><strong>Grand Total : </strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </ng-container>
