<mat-toolbar class="d-flex mb-3 justify-content" >
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
   <mat-icon>menu</mat-icon>
 </button>
 <span class="example-spacer"></span>

 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon  matBadgeColor="warn" routerLink="/products">home</mat-icon>

</button>

 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <mat-icon matBadge="{{2*2}}" matBadgeColor="warn" routerLink="/cart">add_shopping_cart</mat-icon>

</button>
<!-- <div class="container  p-2">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon >account_circle</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon >account_circle</mat-icon>
  </button>
</div> -->
</mat-toolbar>


